* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-container {
    width: 960px;
    margin: 50px auto;
}

.list-item {
    padding: 20px;
    list-style: none;
}

.list-item:nth-child(odd) {
    background-color: lightgrey;
}

.box-container {
    width: 960px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: yellow;
    height: 200px;
    width: 30%;
    margin-bottom: 40px;
}

.box:nth-child(2),
.box:nth-child(5),
.box:nth-child(8) {
    margin: 0 5%;
}

.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9) {
    background-color: orange;
}